@import url("https://fonts.cdnfonts.com/css/rockin-rocker");
:root {
  --player-color-1: rgb(255, 55, 55);
  --player-color-2:rgb(0, 190, 0);
  --player-color-3:rgb(0, 136, 255);
  --player-color-4:rgb(255, 247, 0);
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 100vh;
  background-color: #ffffff;
}

body {
  background-color: #ffffff;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-image: url(../assets/backgroupImage.svg);
  background-size: 100% 100%;
  height: 100vh;
}

body .container {
  overflow: hidden;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .cardFrame {
  height: 700px;
  margin: auto;
  width: 700px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(https://upload.wikimedia.org/wikipedia/commons/1/1c/Wooden_Frame.png);
  background-repeat: round;
  border-radius: 3px;
  -webkit-box-shadow: black 0px -2px 6px 1px inset;
          box-shadow: black 0px -2px 6px 1px inset;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  pointer-events: none;
  -webkit-animation: onloadAnim 0.7s forwards 0.5s;
          animation: onloadAnim 0.7s forwards 0.5s;
  -webkit-box-shadow: black 0px 2px 4px, rgba(0, 0, 0, 0.6) 0px 7px 13px -3px, rgba(0, 0, 0, 0.7) 0px -3px 3px inset;
          box-shadow: black 0px 2px 4px, rgba(0, 0, 0, 0.6) 0px 7px 13px -3px, rgba(0, 0, 0, 0.7) 0px -3px 3px inset;
}

body .container .cardFrame .cardContainer {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  background-color: #e6e6e6;
  width: 95%;
  height: 95%;
  -webkit-box-shadow: rgba(0, 2, 1, 0.5) 0px 0px 0px 1px, #404041 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 2, 1, 0.5) 0px 0px 0px 1px, #404041 0px 0px 0px 1px inset;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

body .container .cardFrame .cardContainer .bgSnakeImage {
  position: absolute;
  width: 105%;
  height: 105%;
  z-index: 20;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-filter: drop-shadow(2px 1px 1px #6d6d6d);
          filter: drop-shadow(2px 1px 1px #6d6d6d);
  -webkit-animation: snakeAnim 0.4s forwards 1s;
          animation: snakeAnim 0.4s forwards 1s;
}

body .container .cardFrame .cardContainer .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-size: 1.05vw;
  border: 1px solid #5a5a5a;
  z-index: 10;
  color: #000000;
}

body .container .player {
  position: fixed;
  z-index: 10;
  top: -50px;
  left: -50px;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

body .container .player div {
  position: absolute;
  top: 50%;
  background-color: inherit;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 65%;
  height: 65%;
  border-radius: 100%;
  -webkit-box-shadow: rgba(53, 53, 53, 0.95) -5px -5px 1vw 0px inset, rgba(56, 56, 56, 0.95) 5px 5px 1.3vw 2px;
          box-shadow: rgba(53, 53, 53, 0.95) -5px -5px 1vw 0px inset, rgba(56, 56, 56, 0.95) 5px 5px 1.3vw 2px;
}

body .container #player1 {
  background-color: var(--player-color-1);
}

body .container #player2 {
  background-color: var(--player-color-2);
}

body .container #player3 {
  background-color: var(--player-color-3);
}

body .container #player4 {
  background-color: var(--player-color-4);
}

body .container .login-overlay {
  position: fixed;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(78, 78, 78, 0.5);
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: onLogin 0.7s forwards 2s;
          animation: onLogin 0.7s forwards 2s;
}

body .container .login-overlay .login-model {
  overflow: hidden;
  width: 400px;
  height: 250px;
  background-color: #ffffff;
  border: 3px solid black;
  -webkit-box-shadow: 5px 5px 0px rgba(36, 36, 36, 0.877);
          box-shadow: 5px 5px 0px rgba(36, 36, 36, 0.877);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: onloadLogin 0.7s forwards 2.2s;
          animation: onloadLogin 0.7s forwards 2.2s;
}

body .container .login-overlay .login-model .game-title {
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1a1a1a;
  font-size: 17px;
  color: #ffffff;
  font-family: "Rockin Rocker", sans-serif;
}

body .container .login-overlay .login-model .game-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

body .container .login-overlay .login-model .game-setting .player-name-input {
  margin: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .login-overlay .login-model .game-setting .player-name-input input {
  padding: 8px 5px;
  border: none;
  outline: none;
  -webkit-box-shadow: 3px 3px 0 #2c2c2c;
          box-shadow: 3px 3px 0 #2c2c2c;
  border: 2px solid #000;
  font-size: 18px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

body .container .login-overlay .login-model .game-setting .player-name-input input:hover, body .container .login-overlay .login-model .game-setting .player-name-input input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .container .login-overlay .login-model .game-setting .player-name-input button {
  outline: none;
  -webkit-box-shadow: 3px 3px 0 #2c2c2c;
          box-shadow: 3px 3px 0 #2c2c2c;
  border: 2px solid #000;
  padding: 8px 5px;
  cursor: pointer;
  color: #222222;
  background-color: rgba(255, 99, 3, 0.804);
  font-family: "Rockin Rocker", sans-serif;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

body .container .login-overlay .login-model .game-setting .player-name-input button:hover, body .container .login-overlay .login-model .game-setting .player-name-input button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .container .login-overlay .login-model .game-setting .game-host {
  height: 100%;
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

body .container .login-overlay .login-model .game-setting .game-host .game-tabs {
  border-bottom: 2px solid #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .container .login-overlay .login-model .game-setting .game-host .game-tabs button {
  width: 100%;
  background-color: none;
  padding: 8px 10px;
  font-family: "Rockin Rocker", sans-serif;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

body .container .login-overlay .login-model .game-setting .game-host .tabcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 10px;
}

body .container .login-overlay .login-model .game-setting .game-host .tabcontent .join-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bolder;
  letter-spacing: 8px;
}

body .container .login-overlay .login-model .game-setting .game-host .tabcontent button {
  width: 100%;
  outline: none;
  -webkit-box-shadow: 3px 3px 0 #2c2c2c;
          box-shadow: 3px 3px 0 #2c2c2c;
  border: 2px solid #000;
  padding: 8px 5px;
  cursor: pointer;
  color: #222222;
  background-color: rgba(255, 99, 3, 0.804);
  font-family: "Rockin Rocker", sans-serif;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

body .container .login-overlay .login-model .game-setting .game-host .tabcontent button:hover, body .container .login-overlay .login-model .game-setting .game-host .tabcontent button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .container .login-overlay .login-model .game-setting .game-host .tabcontent input {
  padding: 8px 5px;
  border: none;
  outline: none;
  -webkit-box-shadow: 3px 3px 0 #2c2c2c;
          box-shadow: 3px 3px 0 #2c2c2c;
  border: 2px solid #000;
  font-size: 18px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

body .container .login-overlay .login-model .game-setting .game-host .tabcontent input:hover, body .container .login-overlay .login-model .game-setting .game-host .tabcontent input:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .container .login-overlay .login-model .game-setting .game-host .tabcontent #info-content {
  text-align: end;
  color: #c90000;
}

body .container .login-overlay .login-model .game-setting .game-host #join {
  display: none;
}

body .container .scoreboard {
  z-index: 20;
  width: 350px;
  height: 99.5vh;
  background-color: #fff;
  border: 3px solid black;
  margin-right: -400px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

body .container .scoreboard .game-title {
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1b1b1b;
  font-size: 17px;
  color: #ffffff;
  font-family: "Rockin Rocker", sans-serif;
}

body .container .scoreboard .scorecontent {
  padding: 10px;
  font-family: "Rockin Rocker", sans-serif;
}

body .container .scoreboard .players-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .scoreboard .players-list .player-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-family: sans-serif;
  border: 2px solid #626262;
  width: 100%;
  -webkit-box-shadow: 3px 3px 0px rgba(36, 36, 36, 0.877);
          box-shadow: 3px 3px 0px rgba(36, 36, 36, 0.877);
}

body .container .scoreboard .players-list .player-info .player-number {
  font-family: sans-serif;
  padding: 10px 15px;
  color: white;
  font-weight: bold;
}

body .container .scoreboard .players-list .player-info #playerColor1 {
  background-color: var(--player-color-1);
}

body .container .scoreboard .players-list .player-info #playerColor2 {
  background-color: var(--player-color-2);
}

body .container .scoreboard .players-list .player-info #playerColor3 {
  background-color: var(--player-color-3);
}

body .container .scoreboard .players-list .player-info #playerColor4 {
  background-color: var(--player-color-4);
}

body .container .scoreboard .players-list .player-info .player-name {
  padding: 10px 0px;
  font-weight: bold;
}

@-webkit-keyframes onloadAnim {
  100% {
    pointer-events: none;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes onloadAnim {
  100% {
    pointer-events: none;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes onLogin {
  100% {
    width: 100%;
  }
}

@keyframes onLogin {
  100% {
    width: 100%;
  }
}

@-webkit-keyframes onloadLogin {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes onloadLogin {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes onloadGame {
  100% {
    margin-right: 00px;
  }
}

@keyframes onloadGame {
  100% {
    margin-right: 00px;
  }
}

@-webkit-keyframes snakeAnim {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes snakeAnim {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes onMove {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  70% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-box-shadow: #00000059 -5px -5px 1vw 0px inset, #0000008c 8px 4px 1vw 2px, #0000008c 16px 16px 5vw 5px;
            box-shadow: #00000059 -5px -5px 1vw 0px inset, #0000008c 8px 4px 1vw 2px, #0000008c 16px 16px 5vw 5px;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes onMove {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  70% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-box-shadow: #00000059 -5px -5px 1vw 0px inset, #0000008c 8px 4px 1vw 2px, #0000008c 16px 16px 5vw 5px;
            box-shadow: #00000059 -5px -5px 1vw 0px inset, #0000008c 8px 4px 1vw 2px, #0000008c 16px 16px 5vw 5px;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
/*# sourceMappingURL=main.css.map */